.row
  .top-bar.menu
    .top-bar-left
      %ul.menu
        %li.menu-text
          %h1.title
            Ё-приложение
        %li
          %h3
            = link_to fa_icon('home 2x'), root_path
        %li
          %h3
            = link_to fa_icon('github 2x'), configus.links.karamzin.github, class: :blank
        %li
          %h3
            = link_to fa_icon('info-circle 2x'), '#', data: { href: '#action' }, class: 'nav-scroll'
    .top-bar-right
      %ul.menu
        %li.menu-text
          %h6
            Пришло время расставить все точки над Ё
