.field.telegram_bot#telegram_bot{ style: ' color: #333' }
  .row
    .large-8.large-offset-2.columns
      .text
        %h1
          Ё-приложение в Вашем смартфоне
        %h5
          Бот для мессенджера Telegram находиться в общем доступе и расставить все точки над Ё в вашем тексте без надобности заходить на наш сайт.
        %h5
          Нажав на кнопку, вы сможете установить нашего Telegram-бота. В случае, если у вас не установлено приложение Telegram, вы сможете установить его, также нажав на кнопку ниже.
        %h2
          = link_to configus.links.karamzin.telegram_bot, class: 'button primary blank' do
            = fa_icon :send
            Подключить бота
  .arrow-down{ style: 'top: 190%' }
    = link_to '#', style: 'color: #333 !important', data: { href: '#telegram_bot' } do
      = fa_icon 'arrow-circle-o-down 4x'
