.large-6.columns{ class: class_name }
  .text
    %h1
      Сервис "Карамзин"
    %h5
      Вставит букву "Ё" в тексты там, где это нужно
    %h5
      = fa_icon 'exclamation-circle'
      Мы не сохраняем ваши тексты по умолчанию
    = link_to 'Попробовать', '#', class: 'try-it button primary', data: { href: '.top-bar.menu' }
