/*
 *= require_tree .
 *= require font-awesome
 *= require_self
 *= require animate
 *= require foundation_and_overrides
 */

@font-face
  font-family: 'mic-bold'
  src: font-url('PFSquareSansPro-Medium.ttf')

@font-face
  font-family: 'mic-square-thin'
  src: font-url('PFSquareSansPro-Thin.ttf')

@font-face
  font-family: 'mic-square-reg'
  src: font-url('PFSquareSansPro-Regular.ttf')

@font-face
  font-family: 'mic-square-light-italic'
  src: font-url('PFSquareSansPro-LightItalic.ttf')

@font-face
  font-family: 'mic'
  src: font-url('PFBeauSansPro-Light.ttf')

@font-face
  font-family: 'mic-beau-sebold'
  src: font-url('PFBeauSansPro-SeBold.ttf')

@font-face
  font-family: 'mic-beau-reg'
  src: font-url('PFBeauSansPro-Reg.ttf')

.mobile
  display: none !important

h1,h2,h3,h4,h5,h6 
  font-family: 'mic-bold'

body
  background-color: #2c3e50
  text-align: center
  color: #eee

.header
  background-image: asset-url('head.jpg')
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 100%

.menu
  background-color: transparent
  ul
    background-color: transparent
  a
    margin-right: 10px
    &:hover
      color: #eee

.container
  text-align: center

#conversion_body_count
  float: left

input[type=submit]
  float: right

.result
  text-align: left

.actions
  float: left
  margin-top: 20px

.top-bar
  i.fa
    margin-bottom: 17px
    color: white
    &:hover
      color: #2199e8

.field
  width: 100%
  height: 100%
  display: table
  &.karamzin, &.gem
    background: linear-gradient(to right, #eee6c2, #e8dfb2)
    margin-left: 0px
  &.yo-app
    background: linear-gradient(to right, #2c3e50, #295077)
  &.yo-app, &.gem
    .row
      .columns
        .text
          a
            color: inherit
            font-weight: bold
            &:hover
              text-decoration: none
  &.gem
    a
      color: white !important
  &.telegram_bot
    background-image: image-url('telegram.jpg')
    background-size: cover
    .row
      .columns
        .text
          color: black
          a
            color: white
            &:hover
              text-decoration: none
  &.on_your_site
    background-image: image-url('on_your_site.jpg')
    background-size: cover
    .row
      .columns
        .text
          color: white
          a
            color: white
            &:hover
              text-decoration: none
  .row
    display: table-cell
    vertical-align: middle
    .columns
      display: table
      height: 100%
      .text, .image, .form
        display: table-cell
        vertical-align: middle
      .text
        text-align: center
        a
          color: #333
          img
            height: 44px
            margin-top: -7px
          &:hover
            opacity: 0.8
            text-decoration: underline
      .form
        padding-right: 10%

.arrow-down
  position: absolute
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  a
    &:hover
      opacity: 0.6

footer
  width: 100%
  height: 150px
  background-color: white
  border-top: 2px solid #aaa
  padding-top: 10px
  padding-bottom: 10px
  .columns
    text-align: left
  img
    height: 80%
    margin-top: 10px
  ul
    li
      line-height: 0.8

.button
  margin-right: 10px

@media screen and (max-width: 1000px)
  .laptop
    display: none !important
  .mobile
    display: block !important
  body
    background-image: asset-url('head.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    background-position: center center
    .header, .field
      height: 50%
  .header
    background: none
    h1
      font-size: 50pt
    h3
      i.fa-2x
        font-size: 100pt
    h6
      font-size: 30pt
    .container
      h1
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
    textarea
      height: 500px
    #new_conversion
      input[type=submit]
        font-size: 25pt
    .label, h3
      font-size: 25pt
  .content
    .field
      padding-top: 20%
      &.karamzin
        background: transparent
        .image
          display: none
        .text
          color: white !important
          h2
            i.fa.fa-wikipedia-w
              font-size: 120px
              border-bottom: 5px dashed white
              color: white
          a
            text-shadow: none
            font-size: 50pt
            img
              height: 120px
              margin-top: -42px
              border-bottom: 5px dashed white
          h5
            font-size: 28pt
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
      &.telegram_bot
        background: white
      &.gem, &.on_your_site, &.telegram_bot
        .text
          color: black !important
          h2
            i.fa.fa-wikipedia-w
              font-size: 120px
              border-bottom: 5px dashed white
              color: black
          a
            text-shadow: none
            font-size: 50pt
            img
              height: 120px
              margin-top: -42px
              border-bottom: 5px dashed white
          h5
            font-size: 28pt
      &#action
        padding-top: 15%
        padding-bottom: 13%
        .row
          .columns
            .form
              padding-right: 0
              h4
                font-size: 38pt
              .input-group-field
                height: 100px
                font-size: 67px
              .input-group-button
                a
                  font-size: 37px
            .text
              margin-top: 5%
              text-align: center
              display: block
              h1
                font-size: 57pt
              h5
                font-size: 30pt
              a
                font-size: 50pt
      &.telegram_bot
        padding-bottom: 15%
      &.on_your_site
        padding-bottom: 13%
        .text
          color: #e2dcbc !important
        h5
          font-size: 38pt !important
          a
            font-size: 38pt !important
            text-decoration: underline
    .row
      float: left
    h1
      font-size: 50pt
      &.telegram-icon
        font-size: 150pt
        text-shadow: none
    .arrow-down
      display: none
  footer
    float: left
    height: auto
    img
      height: auto
      width: 100%
      margin-bottom: 15%
    h6
      font-size: 34pt
      a
        text-decoration: underline
  .result
    h4
      font-size: 48pt
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
    a.button
      font-size: 30pt
