/*
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

body
  background-color: #2c3e50
  text-align: center

.menu
  position: fixed
  text-align: center
  width: 100%
  .nav
    a
      box-sizing: border-box
      color: #eee
      &:hover
        color: #3b3c9e
